
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes cadastrados</h2>

<div ng-controller="ClientesController">
    <p>
        <a href="/Clientes/Create" ng-click="AddNewCliente()">Cadastrar Cliente</a>
    </p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Email</th>
                <th scope="col">Ativo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in Clientes">
                <th scope="row">{{c.Id}}</th>
                <td>{{c.Nome}}</td>
                <td>{{c.DataNascimento.slice(6, -2) | date: 'dd/MM/yyyy'}}</td>
                <td>{{c.Email}}</td>
                <td><input ng-checked="c.Ativo" class="check-box" disabled="disabled" type="checkbox"></td>
                <td><button type="button" class="btn btn-danger" ng-click="deleteCliente(c)">Deletar</button><button type="button" class="btn btn-primary" ng-click="editCliente(c)">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>


